################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EXAM_01/EXAM_01.VC.VC.opendb
